node_modules

build/*
!build/plotcss.js
!build/README.md

dist/*.LICENSE.txt
dist/plotly-custom.min.js

lib/index-custom.js

npm-debug.log*
*.sublime*
*~
tags

.*
!.circleci
!.gitignore
!.npmignore
!.eslintrc
!.eslintignore
